QWidget {
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;
}
QMenuBar {
    background-color: #444444;
    color: #ffffff;
}
QStatusBar {
    background-color: #444444;
    color: #ffffff;
}
QMenuBar::item {
    background-color: #444444;

}
QMenuBar::item:selected {
    background-color: #666666;
};
